
$gris1: #A9A597 !default;
$gris2: #EFEBDF !default;
$bleu1: #00B0FF !default;
$bleu2: #22A0BE !default;
$bleu3: #147A92 !default;
$rose1: #D4668F !default;
$rose2: #993D5F !default;




$gris3:#4A4A4A !default;
$douane08dp:#FAFAFA !default;
$douaneGrisF5:#f5f5f5 !default;
$douaneGris50:#E8EAED !default;
$douaneGrisClair50: #eaeeef !default;
$whiteOpa20:rgba(255, 255, 255, 0.20) !default;
$whiteOpa50:rgba(255, 255, 255, 0.80) !default;
$blackOpa50:rgba(0, 0, 0, 0.50) !default;
$bleu2Opa: rgba(34, 160, 190, 0.8) !default;
